body {
    width: 300px;
    height: auto; /* Allow height to adjust based on content */
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; 
    border-radius: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.174);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    color: #27b039;
}

textarea {
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000000; 
    border-radius: 5px;
    font-size: 14px;
    background-color: #ffffff; 
    color: #000000; 
    transition: border-color 0.3s, box-shadow 0.3s; 

textarea:focus {    
    border-color: #9c27b0; 
    outline: none;
    box-shadow: 0 0 5px rgba(156, 39, 176, 0.5); 
}

button {
    width: 85%;
    padding: 10px;
    background-color: #3cb124; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; 
}
/*hover effect*/
button:hover {
    background-color: #198917;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000; 
    animation: fadeIn 0.5s ease-in-out;
}


   



